<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>後台-訂單管理 allPdtOrder.html</title>
    
    <!-- 使用included-fragment.html網頁的全部 -->
    <head th:insert="~{/included-fragment}"></head>

    <style>
        .errorblock {
            color: #ff0000;
            font-style: bold;
        }

        a.btn-sm, i.fas { 
            text-decoration: none; 
        }
        .btn-primary{
       	  position: relative;
		  min-width: 60px; /* 縮小按鈕寬度 */
		  background-color: transparent;
		  border: none;
		  color: #0080ff;
		  font-size: 0.875rem; /* 縮小字體大小 */
		  font-weight: bold;
		  text-align: center;
		  text-decoration: none;
		  transition: color 0.5s;
		  padding: 8px 16px; /* 減少內距 */
		}
		.btn-primary:before {
		  content: "";
		  position: absolute;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  border: 3px solid #0080ff;
		  border-radius: 30px;
		}

    </style>
</head>
<body>

    <!------------------------------- content ------------------------------->
    <div class="container-fluid mt-5">
        <h1 class="text-center mb-4">商城訂單管理</h1>
        <!-- 功能按鈕 -->
        <div >
            <button class="btn">匯出訂單
                <span class="inner">
                    <span class="blob"></span>
                    <span class="blob"></span>
                    <span class="blob"></span>
                    <span class="blob"></span>
                </span>
            </button>
            <button class="btn">批量列印出貨單
	            <span class="inner">
	                    <span class="blob"></span>
	                    <span class="blob"></span>
	                    <span class="blob"></span>
	                    <span class="blob"></span>
                </span>
            </button>
        </div><br>

		<div class="d-flex">
		    <!-- 表單：根據訂單編號查詢 -->
		    <form method="post" th:action="@{getOne_For_Display}" class="mr-3 mt-3">
		        <label>輸入訂單編號:</label>
		        <div class="d-flex align-items-center mb-3"><input 
		            type="text"  
		            name="pdtOrderId" 
		            th:value="${param.pdtOrderId}" 
		            class="form-control" ><button type="submit" class="btn-primary">搜尋</button></div>
		    </form><div style="height: 10px; width: 10%;"></div>
		    
		
		    <!-- 表單：根據會員編號查詢 -->
		    <form method="post" th:action="@{getSome_For_Display}" class="mr-3 mt-3">
		        <label for="memId">輸入會員編號:</label><div class="d-flex align-items-center"><input 
		            type="text" 
		            id="memId" 
		            name="memId" 
		            th:value="${param.memId}" 
		            class="form-control"><button type="submit" class="btn-primary">搜尋</button></div>
		    </form><div style="height: 10px; width: 10%;"></div>
		
		    <!-- 表單：根據訂單狀態查詢 -->
		    <form method="post" th:action="@{getOrderStat_For_Display}" class="mt-3">
		        <label for="orderStat">選擇訂單狀態:</label><div class="d-flex align-items-center"><select 
		            id="orderStat" 
		            name="orderStat" 
		            class="form-control">
		            <option value="" selected></option>
		            <option 
		                th:each="map : ${session.orderStatMap}" 
		                th:value="${map.key}" 
		                th:text="${map.value}">
		            </option>
		        </select><button type="submit" class="btn-primary">搜尋</button></div>
		    </form>
		</div>

        <!-- 錯誤表列 -->
        <div class="errorblock" th:utext="${errorMessage}"></div><br>

        <!-- 訂單列表 -->
        <table class="table myTable">
            <thead>
                <tr>
                    <th>訂單編號</th>
                    <th>會員編號</th>
                    <th>訂單成立時間</th>
                    <th>訂單總金額</th>
                    <th>訂單狀態</th>
                    <th>付款方式</th>
                    <th>取貨方式</th>
                    <th>收件人姓名</th>
                    <th>收件人地址</th>
                    <th>收件人電話</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${pdtOrderListData}">
                    <td th:text="${order.pdtOrderId}"></td>
                    <td th:text="${order.memVO.memId}"></td>
                    <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${order.orderAmt}"></td>
                    <td>
                        <span th:text="${session.orderStatMap[order.orderStat]}"></span>
                    </td>
                    <td>
                        <span th:text="${session.payMethodMap[order.payMethod]}"></span>
                    </td>
                    <td>
                        <span th:text="${session.delMethodMap[order.delMethod]}"></span>
                    </td>
                    <td th:text="${order.recName}"></td>
                    <td th:text="${order.recAddr}"></td>
                    <td th:text="${order.recTel}"></td>
                    <td>
                        <a th:href="@{/pdtorderitem/getOrderItemDetails(pdtOrderId=${order.pdtOrderId}, orderStat=${order.orderStat}, orderDate=${order.orderDate})}" 
                        	class="btn-sm" title="檢視訂單明細">
                            <i class="fas fa-search"></i>
                        </a>

						<a th:href="@{/pdtorder/getOne_For_Update(pdtOrderId=${order.pdtOrderId})}"
							class="btn-sm" title="修改訂單明細">  
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="#" class="btn-sm" title="刪除">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
        <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

    <script>
     
      // DataTable 初始化
      try {
          $(".myTable").DataTable({
              paging: true,
              ordering: true,
              pageLength: 10,
              lengthMenu: [10, 15, 20],
              searching: true,
              language: {
                  info: "顯示第 _START_ 至 _END_ 筆資料，共 _TOTAL_ 筆",
                  infoEmpty: "無資料可顯示",
                  infoFiltered: "",
                  zeroRecords: "請確認查詢條件",
                  lengthMenu: "每頁顯示 _MENU_ 筆資料",
                  paginate: {
                      first: "第一頁",
                      previous: "上一頁",
                      next: "下一頁",
                      last: "最後一頁"
                  }
              }
          });
      } catch (error) {
          console.error("DataTable 初始化錯誤:", error);
      };
    </script>


</body>

</html>