<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>房型圖片 - listOneRImg.html</title>

    <!-- 引入外部資源 --> 
    <link rel="stylesheet" th:href="@{/css/bb.css}" />
    <link rel="stylesheet" th:href="@{/css/elm.css}" />
</head>
<body>
	<div id="header">房型管理</div>
    <div id="sub-header">圖片詳情</div>
    
    <div class="detail-container" th:fragment="ListOneRImg-div">
	       <h3>查詢結果</h3>
	       <div class="detail-row">
	           <span>圖片編號: </span><span th:text="${rImgVO.roomImgId}"></span>
	       </div>
	       <div class="detail-row">
	           <span>圖片名稱: </span><span th:text="${rImgVO.roomImgName}"></span>
	       </div>
	       <div class="detail-row">
	           <span>商品名稱: </span><span th:text="${rImgVO.rtVO.roomTypeId}+'['+${rImgVO.rtVO.roomTypeName}+']'"></span>
	       </div>
	       <div class="detail-row">
	           <span>商品圖片: </span><span><img th:src="@{/rImg/DBGifReader_roomImg} + '?roomImgId='+${rImgVO.roomImgId}" width=500px></span>
	       </div>
	   </div>
	
	   <div class="button-container">
	   	<div>
    		<a th:href="@{/rImg/listAllRImg}" class="btn">
    			<span class="inner">
		        <span class="blob"></span>
		        <span class="blob"></span>
		        <span class="blob"></span>
		        <span class="blob"></span>
		      </span>
		      返回圖片列表
    		</a>
    	</div>
	    <div>
    		<a th:href="@{/rt/listAllRT}" class="btn">
    			<span class="inner">
		        <span class="blob"></span>
		        <span class="blob"></span>
		        <span class="blob"></span>
		        <span class="blob"></span>
		      </span>
		      返回房型列表
    		</a>
    	</div>
	   </div>
	   <div th:insert="~{/back-end/footer :: footer}"></div>
</body>
</html>