<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>結帳頁面 checkOut.html</title>
    
    <!-- 使用included-fragment.html網頁的全部 -->
    <head th:insert="~{/included-fragment}"></head>

	<style>
	.error {
		color: blue;
		font-style: bold;
	}
	
	h4, .error {
    display: inline-block;
    margin-right: 10px;  /* 這是可選的，用來設定兩個元素之間的間距 */
	}
	</style>
</head>
<body>
	<!------------------------------- 導覽列 ------------------------------->
    <nav>
      <a id="logo_area" href="">
        <div class="img_con">
          <img src="https://picsum.photos/100" alt="" />
        </div>
        <div class="vertical-line"></div>
        <h3>鄰星嗨嗨</h3>
      </a>

      <ul>
        <li><a href="">行程預定</a></li>
        <li><a href="">房型價格</a></li>
        <li><a href="">活動預約</a></li>
        <li><a href="">商城</a></li>
        <li><a href="">討論區</a></li>
        <li><a href="">公告</a></li>
        <!-- <li style="color: chocolate; font-size: 1.75rem">小吳, 您好</li> -->
        <!-- 平常隱藏，登入時才打開 -->
      </ul>

      <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>

        <div class="ham_list showList">
          <a href="https://www.yahoo.com.tw" target="_blank">註冊會員</a>
          <a href="https://www.yahoo.com.tw" target="_blank">會員登入</a>
          <a href="https://www.yahoo.com.tw" target="_blank">會員中心</a>
          <!-- <a href="https://www.yahoo.com.tw" target="_blank">登出</a> -->
        </div>
      </button>
    </nav>
    
    
	<!------------------------------- content ------------------------------->
	<div class="container mt-5">
	<h1 class="text-center mb-4">結帳</h1>
	
        <form th:action="@{insert}" method="post" th:object="${productOrderVO}" class="cus_form">
        	<div>
				<p><strong>會員編號:</strong> <span th:text="${productOrderVO.memVO.memId}"></span></p>
				<input type="hidden" th:field="*{memVO.memId}">
        	</div><br>
        	
        	  <div class="row">
		        <!-- 左側：付款方式 -->
		        <div class="col-md-6">
		            <div class="mb-4">
		                <h4>付款方式</h4><span  th:if="${#fields.hasErrors('payMethod')}" th:errors="*{payMethod}" class="error" id="payMethod.errors"></span>
		                <div class="form-check">
		                    <input class="form-check-input" type="radio" th:field="*{payMethod}" id="bankTransfer" value="0">
		                    <label class="form-check-label" for="bankTransfer">轉帳</label>
		                </div>
		                <div class="form-check">
		                    <input class="form-check-input" type="radio" th:field="*{payMethod}" id="creditCard" value="1">
		                    <label class="form-check-label" for="creditCard">信用卡付款</label>
		                </div>
		                <div class="form-check">
		                    <input class="form-check-input" type="radio" th:field="*{payMethod}" id="cashOnDelivery" value="2">
		                    <label class="form-check-label" for="cashOnDelivery">貨到付款</label>
		                </div>
		            </div>
		        </div>
		
		        <!-- 右側：取貨方式 -->
		        <div class="col-md-6">
		            <div class="mb-4">
		                <h4>取貨方式</h4><span  th:if="${#fields.hasErrors('delMethod')}" th:errors="*{delMethod}" class="error" id="delMethod.errors"></span>
		                <div class="form-check">
		                    <input class="form-check-input" type="radio" th:field="*{delMethod}" id="homeDelivery" value="0">
		                    <label class="form-check-label" for="homeDelivery">宅配到府</label>
		                </div>
		                <div class="form-check">
		                    <input class="form-check-input" type="radio" th:field="*{delMethod}" id="storePickup" value="1">
		                    <label class="form-check-label" for="storePickup">船上取貨</label>
		                </div>
		            </div>
		        </div>
		    </div>
    
            <!-- 收件人資訊 -->
            <div class="mb-4">
                <h4>收件人資訊</h4>
                <p>*如果選擇「船上取貨」但未領取，包裹將以宅配方式送達此地址。</p>
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="recipientName" class="form-label">收件人姓名</label>
                        <input type="text" class="form-control" id="recipientName" th:field="*{recName}" required>
                        <span  th:if="${#fields.hasErrors('recName')}" th:errors="*{recName}" class="error" id="recName.errors"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="recipientPhone" class="form-label">電話</label>
                        <input type="tel" class="form-control" id="recipientPhone" th:field="*{recTel}" required>
                        <span  th:if="${#fields.hasErrors('recTel')}" th:errors="*{recTel}" class="error" id="recTel.errors"></span>
                    </div>
                </div>
            </div>
            <!-- 地址 -->
            <div class="mb-4">
                <h4>配送地址</h4>
                <label for="recipientAddress" class="form-label">地址</label>
                <input type="text" class="form-control" id="recipientAddress" th:field="*{recAddr}" required>
                <span  th:if="${#fields.hasErrors('recAddr')}" th:errors="*{recAddr}" class="error" id="recAddr.errors"></span>
            </div>
            
           
            <!-- 訂單備註 -->
            <div class="mb-4">
                <h4>訂單備註</h4>
                <textarea class="form-control" name="orderNote" rows="3" placeholder="請填寫特殊需求 (選填)" style="resize: none"></textarea>
            </div>
            <!-- 確認訂單 -->
            <div class="text-center">
            	<a th:href="@{/shop/shoppingCart}" class="btn">回購物車
	            	<span class="inner">
			          <span class="blob"></span>
			          <span class="blob"></span>
			          <span class="blob"></span>
			          <span class="blob"></span>
			        </span>
		        </a>
                <button type="submit" class="btn">確認訂單
                	<span class="inner">
			          <span class="blob"></span>
			          <span class="blob"></span>
			          <span class="blob"></span>
			          <span class="blob"></span>
		        	</span>
                </button>
            </div>
        </form>
        
	</div>
	
	<!------------------------------- footer ------------------------------->
	<footer>
      <sup>&copy;</sup>本網站僅供tibame專題展示用，並無進行任何商業行為
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
    const ham_list = document.querySelector(".ham_list");
    const nav = document.querySelector("nav");

    //漢堡選單控制
    document
      .querySelector(".hamburger")
      .addEventListener("click", function () {
        this.classList.toggle("is-active");
      });

    ham_list.addEventListener("click", function (e) {
      e.stopPropagation();
    });

    $(".hamburger").on("click", function () {
      $(".ham_list").toggleClass("showList");
    });

    // 監控滾輪事件，讓導覽列變透明
    window.addEventListener("scroll", (e) => {
      if (this.scrollY !== 0) {
        nav.style.backgroundColor = "rgba(173, 216, 230, 0.8)";
        nav.style.boxShadow = "0px 8px 10px lightgray";
      } else {
        nav.style.backgroundColor = "lightblue";
        nav.style.boxShadow = "none";
      }
    });
    </script>
    
    
</body>
</html>