<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>類別詳情 - listOnePdtType.html</title>
    <link rel="stylesheet" th:href="@{/css/bb.css}" />
    <link rel="stylesheet" th:href="@{/css/elm.css}" />
	
</head>
<body>
	<div id="header">商品類別管理</div>
	<div id="sub-header">類別資料</div>
	
	<div class="detail-container" th:fragment="ListOnePdtType-div">
        <h3>查詢結果</h3>
        <div class="detail-row">
            <span>類別編號: </span><span th:text="${pdtTypeVO.pdtTypeId}"></span>
        </div>
        <div class="detail-row">
            <span>類別名稱: </span><span th:text="${pdtTypeVO.pdtTypeName}"></span>
        </div>
        <div class="detail-row">
            <span>類別描述: </span><span th:text="${pdtTypeVO.pdtTypeDesc}"></span>
        </div>
     </div>
     
     <div class="button-container">
     	<div>
    		<a th:href="@{/productType/listAllPdtType}" class="btn">
    			<span class="inner">
		        <span class="blob"></span>
		        <span class="blob"></span>
		        <span class="blob"></span>
		        <span class="blob"></span>
		      </span>
		      返回類別列表
    		</a>
    	</div>
        <div>
    		<a th:href="@{/productType/addPdtType}" class="btn">
    			<span class="inner">
		        <span class="blob"></span>
		        <span class="blob"></span>
		        <span class="blob"></span>
		        <span class="blob"></span>
		      </span>
		      新增類別
    		</a>
    	</div>
    </div>
	<div th:insert="~{/back-end/footer :: footer}"></div>
</body>
</html>