<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>查詢訂房明細-select_page_RO.html</title>
	<link rel="stylesheet" th:href="@{/css/bb.css}" />
<link rel="stylesheet" th:href="@{/css/elm.css}" />
</head>	
<body>
	
	<div id="header">房型管理</div>
    <div id="sub-header">訂房明細查詢</div>

    <div class="errorblock" th:utext="${errorMsg}">${errorMsg}</div><br>

    <div>
    	<div th:if="${validationErrors}" class="error-block">
			    <ul>
			        <li th:each="error : ${validationErrors}" th:text="${error.defaultMessage}"></li>
			    </ul>
		</div>
		<ul>
			<li>
				<form class="cus_form" method="post" th:action="@{getRO_For_Display}">
					<div>
			      		<label for="search-Id">輸入訂房明細編號 (如: 2001):</label>
				          <input class="form-control" id="search-Id" name="roomOrderId" type="text" th:value="${param.roomOrderId}">
				          <button type="submit" class="btn">
						        送出查詢
						        <span class="inner">
						          <span class="blob"></span>
						          <span class="blob"></span>
						          <span class="blob"></span>
						          <span class="blob"></span>
						        </span>
					      </button>
			      	</div>
				</form>
			</li>
		</ul>
    </div>
    <div class="result" th:if="${roVO}">
		<div th:insert="~{/back-end/roomOrder/listOneRO :: ListOneRO-div}"></div>
	</div>

    <div class="button-container">
    	<div class="button-container">
	        	<div>
		    		<a th:href="@{/}" class="btn">
		    			<span class="inner">
				        <span class="blob"></span>
				        <span class="blob"></span>
				        <span class="blob"></span>
				        <span class="blob"></span>
				      </span>
				      功能總覽
		    		</a>
		    	</div>
		    	
		        <div>
		    		<a th:href=@{/roomOrder/listAllRO} class="btn">
		    			<span class="inner">
				        <span class="blob"></span>
				        <span class="blob"></span>
				        <span class="blob"></span>
				        <span class="blob"></span>
				      </span>
				      <i class="fa-solid fa-clipboard-list"></i> 訂房明細列表
		    		</a>
	    		</div>
	    		
	    </div>
    </div>
    <div th:insert="~{/back-end/footer :: footer}"></div>
</body>
</html>