<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>訂房明細修改 - update_RO_input.html</title>
	<link rel="stylesheet" th:href="@{/css/bb.css}" />
	<link rel="stylesheet" th:href="@{/css/elm.css}" />
</head>
<body>
	
	<div id="header">房型管理</div>
    <div id="sub-header">訂房明細修改</div>
    
    <div>
        <form class="cus_form" th:action="@{updateRO}" method="post" th:object="${roVO}">
        	
        	<div>
				<label for="roid-text" >訂房明細編號:</label>
				<input class="form-control" id="roid-text" type="text" th:field="*{roomOrderId}" readonly /><br/>
			</div>
        	
        	<div>
                <label for="rtp-sel">房型編號:</label>
                <select th:field="*{rtVO.roomTypeId}">
                	<option th:each="rtVO : ${rtListData}" th:value="${rtVO.roomTypeId}" th:text="${rtVO.roomTypeId}+'['+${rtVO.roomTypeName}+']'"></option>
                </select><br/>
                <span th:if="${#fields.hasErrors('rtVO.roomTypeId')}" th:errors="*{rtVO.roomTypeId}" class="error" id="rtVO.roomTypeId.errors"></span>
            </div>
            
            <div>
                <label for="rtpname-text">房型名稱:</label>
                <input class="form-control" id="rtpname-text" type="text" th:field="*{rtVO.roomTypeName}" onclick="hideContent('rtVO.roomTypeName.errors');" placeholder="請輸入房型名稱"/><br/>
                <span th:if="${#fields.hasErrors('rtVO.roomTypeName')}" th:errors="*{rtVO.roomTypeName}" class="error" id="rtVO.roomTypeName.errors"></span>
            </div>
            
            <div>
                <label for="poid-text">行程訂單編號:</label>
                <input class="form-control" id="poid-text" type="text" th:field="*{planOrder.planOrderId}" name="planOrderId" onclick="hideContent('planOrder.planOrderId.errors');" /><br/>
                <span th:if="${#fields.hasErrors('planOrder.planOrderId')}" th:errors="*{planOrder.planOrderId}" class="error" id="planOrder.planOrderId.errors"></span>
            </div>
            
            <div>
                <label for="rp-text">訂房售價:</label>
                <input class="form-control" id="rp-text" type="text" th:field="*{roomPrice}"  onclick="hideContent('roomPrice.errors');" placeholder="請輸入訂房售價"/><br/>
                <span th:if="${#fields.hasErrors('roomPrice')}" th:errors="*{roomPrice}" class="error" id="roomPrice.errors"></span>
            </div>
            
            <div>
                <label for="oq-text">訂房數量:</label>
                <input class="form-control" id="oq-text" type="text" th:field="*{orderQty}" onclick="hideContent('orderQty.errors');" placeholder="請輸入訂房數量"/><br/>
                <span th:if="${#fields.hasErrors('orderQty')}" th:errors="*{orderQty}" class="error" id="orderQty.errors"></span>
            </div>
        	
		      <button type="submit" class="btn">
		        送出修改
		        <span class="inner">
		          <span class="blob"></span>
		          <span class="blob"></span>
		          <span class="blob"></span>
		          <span class="blob"></span>
		        </span>
		      </button>
	    </form>
       </div>
        <div class="button-container">
	        	<div>
		    		<a th:href="@{/roomOrder/select_page_RO}" class="btn">
		    			<span class="inner">
				        <span class="blob"></span>
				        <span class="blob"></span>
				        <span class="blob"></span>
				        <span class="blob"></span>
				      </span>
				      <i class="fa fa-search"></i> 訂房明細查詢
		    		</a>
		    	</div>
			    <div>
		    		<a th:href="@{/roomOrder/listAllRO}" class="btn">
		    			<span class="inner">
				        <span class="blob"></span>
				        <span class="blob"></span>
				        <span class="blob"></span>
				        <span class="blob"></span>
				      </span>
				      <i class="fa-solid fa-clipboard-list"></i> 訂房明細列表
		    		</a>
		    	</div>
	    </div>
	<div th:insert="~{/back-end/footer :: footer}"></div>
	<script type="text/javascript">
        function hideContent(d) {
            document.getElementById(d).style.display = "none";
        }
   </script>
</body>
</html>