<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<ul class="side_bar" th:fragment="profileSB">
		<li class="list_item"><a th:href="@{/mem/profile}">基本資料</a></li>
		<li class="list_item"><a href="">我的通知</a></li>
		<li class="list_item"><a href="">查看購物車</a></li>
		<li class="list_item my_list">我的訂單</li>
		<li class="expand_list">
			<p>
				<a href="">活動訂單詳情</a>
			</p>
			<p>
				<a href="">行程訂單詳情</a>
			</p>
			<p>
				<a href="">商品訂單詳情</a>
			</p>
		</li>

		<!--這行我之後刪，有需要直接往下加 -->
		<li class="list_item"><a href="">要放在會員中心的功能自己加</a></li>
	</ul>
</body>
</html>